
/* responsive design */
@media screen and (max-width: 700px) {
  .contenthere { font-size: 1.15em; }
  #navcontainer a { 
	/* margin-bottom: 0.85em; */
  	margin: 0.85em 0em; 
	margin-left: 1.85em;
  }

	#navcontainer {
  	  /*opacity: 0; position: absolute; z-index: -2;*/
    	display: none;
  	}

	input[type="checkbox"].hide:checked ~ #navcontainer, .menutoggle {
	    /*opacity: 1; z-index: 1;*/
	    display: block;
	}

	/* dokuwiki specific */
	#dw__search button { margin-top: 0px;  }
	#qsearch__in { width: 60%; }
	/*input, button, select, keygen, textarea { font-size: 1.35em !important; }*/
	.btn_secedit button { font-size: ~"0.85em !important"; clear: both; margin: 1em 0px; }
	h1, h2, h3, h4, h5, h6 { clear: both; }
  .dokuwiki .editBar .summary label, label { white-space: unset; }
}


/* media manager and config manager for mobile */
@media screen and (max-width: 480px){
  fieldset, 
  #mediamanager__page, 
  #mediamanager__page .filelist{ 
    max-width: 100%; min-width: unset; 
  }
  #mediamanager__page .file, 
  #mediamanager__page .namespaces, 
  #mediamanager__page .panel { 
    width: 100%; clear: both; float: none;
  }
  /*.page li, .page dd { margin: 1.35em 0px !important; }*/
  #config__manager tr { }
  #config__manager td { display: block;  padding: 1.15em 0px; max-width: 100%;  }
  #config__manager fieldset {  margin: 1em 0px; width: 100%; box-sizing: border-box; }

  /*#config__manager fieldset { width: 100%; box-sizing: border-box; }*/

    /* make <select> not exceed it's parent div's width */
    /* https://stackoverflow.com/q/44810056/337306 */
    div.input, label.nowrap { display: flex; } select { width: 100%; flex-shrink: 1; }

  fieldset { width: unset; }
  #config__manager fieldset td.value { width: unset; }
  td.label { word-wrap: anywhere; }

  #config__manager td .input, 
  #config__manager fieldset td.value, 
  input, textarea,
  #config__manager td input.edit,
  #config__manager td textarea.edit { 
    max-width: 100%; 
    width: auto;
  }

}